# MongoDB Connection String
NAMONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/gigkavach

# Firebase Config (Client Side)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Groq API Key
VITE_GROQ_API_KEY=

# Razorpay Keys
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# OpenWeatherMap API Key
OPENWEATHER_API_KEY=

# ML Microservice URL
ML_SERVICE_URL=http://localhost:8000
